html {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: normal;
}

body {
    font-size: 1.8rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 0.6rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.001rem;
}

h2 {
    font-size: 3rem;
    line-height: 1.8rem;
    color: #666d89;
    text-transform: capitalize;
    margin: 0;
    padding: 74px 0 0 41px;
    letter-spacing: 0.001rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
}

p {
    color: #767e9e;
    text-align: justify;
}

input::placeholder, textarea::placeholder {
    color: #f48c8f;
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: normal;
    letter-spacing: 0.001rem;
}

.layout-2-column {
    display: flex;
    justify-content: space-between;
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    overflow: hidden;
}

.layout-4-column {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    overflow: hidden;
}

.wrapper {
    max-width: 1020px;
    margin: auto;
    height: 100%;
}

.section-description {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
    margin: 27px 41px 0 41px;
    letter-spacing: 0.001rem;
    word-spacing: -1px;
}

.header {
    background-color: #2d303a;
    height: 89px;
    box-shadow: 0 6px 0 #323746;
    z-index: 6;
    position: relative;
}

.header__title {
    margin: 40px 0 0 40px;
}

.header__title span {
    color: #ff0000;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 42px 37px 0 0;
}

.navigation__link {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 12px;
    text-transform: uppercase;
    letter-spacing: 0.00001rem;
    color: #ffffff;
}

.list-separator::after {
    position: relative;
    bottom: 1px;
    content: "•";
    font-size: 5px;
    text-align: center;
    color: #494e62;
    padding: 0 0 0px 14px;
}

.navigation__link:hover {
    color: #ff0000;
    cursor: pointer;
    transition: all 0.3s;
}

.navigation__link .active-link {
    color: #ff0000;
}

.slider {
    height: 600px;
    background-color: #f06c64;
    box-shadow: 0 6px 0 #ea676b;
    z-index: 5;
    position: relative;
}

.slider__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s;
}

.arrow-prev {
    margin-left: 43px;
}

.arrow-next {
    margin-right: 39px;
}

.phone {
    margin: 0 19px 0 18px;
}

.services {
    height: 500px;
    background-color: #f2f2f2;
    box-shadow: 0 6px 0 #ffffff;
    z-index: 4;
    position: relative;
}

.services .layout-3-column {
    height: 240px;
    margin: 40px 41px;
    align-items: flex-start;
}

.service {
    width: 32%;
    height: 115px;
    overflow: hidden;
    margin: 5px 0 3px 0;
}

.service__description {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: normal;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 9px;
}

.service__icon {
    padding-top: 1px;
}

.service__item {
    margin-left: 19px;
    width: 73%;
}

.portfolio {
    height: 869px;
    background-color: #2d303a;
    box-shadow: 0 6px 0 #323746;
    z-index: 3;
    position: relative;
}

.portfolio__tags {
    margin: 9px 42px;
}

.tag {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-weight: normal;
    text-transform: capitalize;
    padding: 2px 6px 3px 6px;
    margin-right: 6px;
    word-spacing: -1px;
}

.tag_bordered {
    border-radius: 5px;
    border: 1px solid #666d89;
}

.tag_selected, .tag:hover {
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    color: #dedede;
    cursor: pointer;
    transition: all 0.3s;
}

.portfolio__images {
    margin: 0 29px 0 31px;
}

.portfolio__image {
    width: calc(25% - 20px);
    height: 187px;
    margin: 10px;
}

.portfolio__image:nth-child(n + 13) {
    display: none;
}

.about-us {
    height: 734px;
    background-color: #f2f2f2;
    z-index: 2;
    position: relative;
    box-shadow: 0 6px 0 #ffffff;
}

.about-us .layout-3-column {
    height: 470px;
    margin: 36px 29px 35px 31px;
}

.employee {
    width: calc(33% - 17px);
    margin: 10px;
}

.employee__image {
    margin-bottom: 13px;
}

.employee__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.emploee__description {
    font-size: 1.2rem;
    line-height: 2.1rem;
    font-weight: normal;
    margin: 10px 0 11px 0;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 34px;
    margin: 13px 2px 0 1px;
}

.icon:hover {
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s;
}

.icon_facebook {
    background: url("./assets/images/SocialMedia/Facebook.png") no-repeat center;
}

.icon_google {
    background: url("./assets/images/SocialMedia/Google.png") no-repeat center;
}

.icon_twitter {
    background: url("./assets/images/SocialMedia/Twitter.png") no-repeat center;
}

.icon_linkedin {
    background: url("./assets/images/SocialMedia/LinkedIn.png") no-repeat center;
}

.contact-us {
    height: 654px;
    background-color: #f06c64;
    z-index: 1;
    position: relative;
    box-shadow: 0 6px 0 #ea676b;
    color: #ffffff;
}

.contact-us h2, .contact-us p {
    color: #f0d8d9;
    text-transform: none;
}

.contact-form {
    margin: 37px 34px;
}

.contact-form__message {
    width: 63%;
}

.message__item {
    border: 2px solid #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    padding: 8px 0 11px 13px;
    margin: 8px;
    width: 100%;
}

textarea.message__item {
    resize: none;
}

.message_button {
    border: 2px solid #f0d8d9;
    border-radius: 5px;
    background-color: #f0d8d9;
    color: #2d303a;
    width: 10%;
    margin-left: 94%;
}

.message_button:hover {
    background-color: #2d303a;
    cursor: pointer;
    border: 2px solid #2d303a;
    transition: all 0.3s;
    color: #f0d8d9;
}

.contact-form__info {
    width: 32%;
    padding-top: 7px;
}

.contact-form__info h3 {
    color: #f0d8d9;
}

.contact-info__description {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-top: 10px;
    margin-bottom: 19px;
}

.contact-info__item {
    display: block;
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding-left: 20px;
    margin-left: 2px;
    text-decoration: none;
    color: #f0d8d9;
}

.contact-info__item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #666d89;
}

.icon_location {
    background: url("./assets/images/ContactInfo/location.png") no-repeat left;
}

.icon_phone {
    background: url("./assets/images/ContactInfo/phone.png") no-repeat left;
}

.icon_mail {
    background: url("./assets/images/ContactInfo/mail.png") no-repeat left;
}

.footer {
    height: 82px;
    background-color: #2d303a;
}

.copyright {
    font-size: 1.2rem;
    letter-spacing: -0.01rem;
    color: #666d89;
    margin: 36px 41px;
    word-spacing: 0.01rem;
}

.footer .social-networks {
    margin: 15px 38px;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}